*{
    padding: 0;
    margin: 0;
    font-family: arial;
}   

header {
    width: 100%;
    height: 50px;
    background: #9aa7b2;
    position: fixed;
    overflow: hidden;
    margin: 0px;
    border-bottom: 2px solid #333a56;
}

img.logo{
    float: left;
    padding-bottom: 1%;
    margin-left: 4%;
    height: 40px;
    padding-top: 2px;
}

nav li{   
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 15px;
    text-decoration: none;
    transition: background-color 0.5s;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 5%;
}

footer p{
    padding-left: 5%;
}

nav ul{
    float: right;
    list-style-type: none;
    font-weight: bold;
    font-family: arial;
    font-size: 0.9em;
}
    
.active{
    border-radius: 3px;
    background-color: #333a56;
}

nav ul li a:hover:not(.active){
    border-radius: 3px;
    background-color: #c7c7c7;
}

nav:after{
    display: block;
    content: "";
    clear: both;
}


/*.mainHeader{
    max-height: 500px;
    overflow: hidden;
}*/

.mainContent{
    background-color: #9aa7b2;
    min-height: 335px;
    margin: 5% auto;
    border-radius: 10px;
    margin-top: 0%;
}
section {
    
    padding-top: 6%;
}
.mainContent h2{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    padding: 2%;
    font-family: Tahoma;
    background-color: #333a56;
}
.mainContent p{
    color: white;
    padding: 0 4%;
    font-family: Tahoma;
}

.mainContent hr{
    margin-top: 19px;
}

.container{
    width: 96%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2%;
}
.push{
    height: 150px;
}

#backgroundcolor{
    background-color: #d7dde9;
    padding-top: 0.01%;
}


.push:after{
    display:block;
    content:"";
    clear: both;
}
footer {
    background: #161924;
    padding: 30px 0;
    border-top: 5px solid #050a15;
    height: 200px;
}

footer h4{
    margin: 0;
    color: #555;
    text-transform: uppercase;
    font-size: 18px;
}

footer ul{
    float: left;
    width: 30%;
    list-style-type: none;
    margin-left: 10%;
}

footer:after{
    content:"";
    display: block;
    clear: both;
}

footer li{
    color: #aaa;
    width: 80%;
    font-size: 14px;
    line-height: 1.6em;
}

#copy{
    margin: 30px auto 0 auto;
    clear:both;
    padding-top: 20px;  
    float: left;
    width: 100%;
    border-top: 2px solid #333;
    color: #999;
    font-size: 14px;
}

/* CONTACT US PAGE */
h3{
    font-family: verdana;
    
}

/* BLOG PAGE */
.mainContent h3{
    background-color: silver;
    float: left;
    font-size: 1.1em;
    width: 200px;
    color: #333a56;
    margin-bottom: -0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: -1px -3px 5px #888888;
}

.mainContent a{
    display: block;
}

.mainContent .activeDept{
    background-color: white;
    
}

/*TEACHERS*/



.mainContent a{
    text-decoration: none;
    color: white;
    font-family: verdana;
    font-size: 1.2em;
    display: block;
}


.mainContent ul{
    margin: 20px 0px;
}

.mainContent li:hover{
    background-color: #445080;
    padding: 12px 15px;
    transition: background-color 0.5s;
    transition: padding 0.4s;
}


/* COMPUTER SCIENCE */

.teachers{
    margin-top: 20px;
}

.teachers img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.teachers .teachername{
    background-color: silver;
    border: 0.5px solid grey;
    width: 200px;
    font-family: verdana;
    color: #333a56;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -4px;
}


section h2{
    text-align: center;
}

.teachers p{
    font-family: verdana;
}

.teacher{
    width: 250px;
    float: left;
    display: block;
    min-height: 500px;
    min-width: 380px;
    border: 1px solid silver;
    margin-left: 13px;
}

.teacher:nth-child(even){
    border: 1px solid grey;
}

.clearfix{
    clear: both;
    display: block;
    content: "";
}

.teachers .teacherdesc{
    color: #333a56;
    font-weight: bold;
    padding: 10px;
    font-size: 0.85em;
}

.teachers button{
    padding: 3px 100px;
    background-color: #333a56;
    color: white;
    font-family: verdana;
    box-shadow: 1px 1px 5px #333a56;
}

.showHide{
    display: none;
    background-color: grey;
    padding: 15px;
    border: 1px solid black;
}

.showHide ul{
    list-style: none;
    color: white;
    margin: 0px;
}

.showHide ul li:hover{
    color: white;
    padding: 0px;
    margin: 0px;
    background-color: grey;
}

.showHide h5{
    font-size: 1em;
    margin-top: 10px;
}

.sources{
    color: white;
    height: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 960px){
    
    #featurepoints li{
        width: 40%;
        padding: 0 5%;
        margin: 20px 0;
    }
    #featurepoints li:nth-child(3){
        clear: both;
        width: 90%;
    }
    
    .container{
        width: 96%;
        max-width: 960px;
    }

    .search{
        margin-right:1%;
        width: 96%;
        margin-top: 40px;
    }
    
    #quote{
        margin: auto;
        width: 100%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px){
    
    .container{
        width: 92%;
    }
    nav ul{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .search{
        width: 100%;
        margin-top: 40px;
    }
    img.logo{
        float: none;
        margin: 0 37%;
    }
    header nav{
        float: none;
    }
    header nav li{
        margin-left: 2%;
        width: 16.66%;
        text-align: center;
        font-size: 14px;
    }
    
    #featurepoints li{
        width: 90%;
    }
    
    #quote{
        margin: 0;
        width: 100%;
        margin-top: 40px;
    }
}